#DB_URL= 'sqlite:///'
#DB_FILE_PATH = '/Users/keatonh/project/photolog/photolog/resource/database/photolog'
#TMP_FOLDER = '/Users/keatonh/project/photolog/photolog/resource/tmp/'
#UPLOAD_FOLDER = '/Users/keatonh/project/photolog/photolog/resource/upload/'
#MAX_CONTENT_LENGTH = 10 * 1024 * 1024
#PERMANENT_SESSION_LIFETIME = 60 * 1
#SESSION_COOKIE_NAME = 'photolog_session'
#LOG_LEVEL = 'debug'
#LOG_FILE_PATH = '/Users/keatonh/project/photolog/photolog/resource/log/photolog.log'
#DB_LOG_FLAG = 'True'
TWIT_APP_KEY    = '966cQr7e1mPx6Axt20uh5gwfR'
TWIT_APP_SECRET = 'HLWQg8DtgMfnEArsnHsIX0DfetozH16vfMNh49nwH4hu1VdVH6'
TWIT_CALLBACK_SERVER = 'http://localhost:5000'
#PER_PAGE = 5

