<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
            Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Photolog::{% block title %}{% endblock %}</title>

        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.min.css" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/jasny-fileinput.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/placeholder-error.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootbox.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jasny-fileinput.js') }}"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/gmaps.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/exif.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/binaryajax.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body width="100%">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                        <span class="fa fa-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('photolog.index') }}">&nbsp;<i class="fa fa-picture-o "></i> Photolog</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a  href="{{ url_for('photolog.show_map') }}" ><i class="fa fa-map-marker fa-large"></i> 지도에서 사진보기 </a></li>
                        <li class="active"><a  href="{{ url_for('photolog.show_all') }}" ><i class="fa fa-th-list fa-large"></i> 사진 목록 보기 </a></li>
                        <li class="active"><a  href="{{ url_for('photolog.upload_photo_form') }}" ><i class="fa fa-camera-retro fa-large"> 사진 올리기 </i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right ">
                        <li><a href="{% if session.__contains__('user_info') %}{{ url_for('photolog.update_user_form', username=session.user_info.username) }}{% endif %}"><i class="fa fa-pencil"></i> 개인정보 수정</a></li>
                        <li><a id="logout" href="#" class="navbar-link"><i class="fa fa-user"></i> Logout</a></li>
                    </ul>
                    <form role="form" class="form-inline navbar-form pull-left" action="{{ url_for('photolog.search_photo') }}" method="POST">
                        <div class="input-group" style="margin-top: 2px;">
                            <input type="text" name="search_word" class="form-control input-sm search-form" placeholder="Search" {% if search_word %} value='{{search_word}}' {% endif %}>
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm search-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- /.nav-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- content-->
        <div id="photolog-content" class="col-md-12" style="padding-top: 0px; padding-bottom: 30px;">
            {% block content %}{% endblock %}
        </div>
        <!-- end of content-->
        <!-- footer begin -->
        <div id="footer" class="col-md-12">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="navbar-header"></div>
                <div class="container">
                    <div id="footer-menu" class="navbar-collapse collapse">
                        <p id="since" class="navbar-text">Since 2013</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- footer end -->
        <script type="text/javascript">
            $('#logout').click(function(e){

            	bootbox.confirm("로그아웃 하시겠습니까?", function(result) {
            		if(result){
            			window.location="{{ url_for('photolog.logout') }}"
            		}
            	});

            });
        </script>
    </body>
</html>