{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <div id="login-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="display: show; overflow:auto;">
        <div class="modal-dialog" style="vertical-align: middle;">
            <form name="frm" class="form col-md-8 center-block" method="POST" action="{{ url_for('photolog.login') }}" accept-charset="UTF-8" onSubmit="return checkLogin(this)">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-user"></i> 로그인 하기</h4>
                        {% if error %}
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
                        </div>
                        {% endif %}
                        {% if regist_username %}
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ regist_username }}의 가입을 환영합니다!
                        </div>
                        {% elif update_username %}
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ update_username }}의 정보가 변경됐습니다.
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            {{ render_field(form.username, class="form-control", placeholder="Username", autofocus=true) }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.password, class="form-control", placeholder="Password") }}
                        </div>
                        <div class="form-group">
                            {{ render_field(form.next_url, value= next_url) }}
                        </div>
                        <div class="form-group checkbox">
                            <label>
                            <input type="checkbox" name="remember" value="1" onClick="confirmSave(this)" > ID 기억하기
                            </label>
                        </div>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-info">로그인</button>
                        <a href="{{ url_for('photolog.register_user_form') }}" class="btn btn-success" >가입하기</a>
                    </div>
                </div>
                <!-- modal content -->
            </form>
        </div>
        <!-- modal dialog -->
    </div>
    <!-- login-form -->
    <script type="text/javascript">
        $('#login-form').modal('show');
        $('#username').focus();

        function confirmSave(checkbox) {
            var isRemember;

            if (checkbox.checked) {
                isRemember = confirm("이 PC에 로그인 정보를 저장하시겠습니까? PC방등의 공공장소에서는 개인정보가 유출될 수 있으니 주의해주십시오.");

            if (!isRemember) checkbox.checked = false;
          }
        }

        function setsave(name, value, expiredays) {
            var today = new Date();
            today.setDate( today.getDate() + expiredays );
            document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + today.toGMTString() + ";"
        }

        function saveLogin(username){
            if (username != "") {
                setsave("username", username, 7);
            } else {
                setsave("username", username, -1);
            }
        }

        function getLogin() {
            var cookie = document.cookie + ";";
            var index = cookie.indexOf("username", 0);
            var val = "";

            if (index != -1) {
                cookie = cookie.substring(index, cookie.length);
                begin = cookie.indexOf("=", 0) + 1;
                end = cookie.indexOf(";", begin);
                val = unescape(cookie.substring(begin, end));
            }

            if (val!= "") {
                document.frm.username.value = val;
                document.frm.remember.checked = true;
            }
        }

        function checkLogin() {
            if (document.frm.remember.checked) {
                saveLogin(document.frm.username.value);
            }
            else {
                saveLogin("");
            }
        }

        window.onload = getLogin()
    </script>
{% endblock %}