<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>::Unregist::</title>
    <meta name="description" content="" />
    <meta name="author" content="4mba" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen" title="photolog" charset="UTF-8" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome-ie7.min.css')}}">
    <![endif]-->
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootbox.min.js') }}"></script>
     </head>

	<body class="hero-unit center">
		  <div>
		    <p>포토로그를 사용해주셔서 감사합니다.</p>
		    <p><b>아래 버튼을 부르시면 다시 포토로그 사용등록을 할 수 있습니다.</b></p>
		    <a href="{{ url_for('photolog.register_user') }}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Register again?</a>
		  </div>
		  <br />
  
  </body>
</html>
