packages:
  yum:
    libjpeg-turbo-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
      LANG: ko_KR.UTF-8
      LC_ALL: ko_KR.UTF-8
  aws:elasticbeanstalk:container:python:
    WSGIPath: runserver.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: photolog/static/
