@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


html {
	height : 100%;
}

body {
  font-family; 'Nanum Gothic', Arial, sans-serif;
  /*background-color: #f2f2f2;*/
  color: #333333;
  /*padding-top: 60px;*/
  height: 100%;
  vertical-align : middle;
  text-align : middle;
}

body .modal-login {
    width: 300px;
    /*margin-left: -150px;*/
}

#map-large {
  height:500px;
  background:#6699cc;
}

img {
  max-width: none;
}

.map-image {
	width: 300px;
	height: 200px;
}

.popup-image {
	width: 540px;
	height: 360px;
}



#photo-location{
  display: block;
  width: 100%;
  height: 340px;
  overflow: auto;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}



.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:40px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}


td.valign-middle {
    vertical-align : middle;
}


th {
    text-align : center;
}
